@charset "UTF-8";
/**
  Name: spinkit-loading
  Author: william
  Author URI: https://www.darkcrystal.com/
  Description: spinkit-loading for websites
  Version: 1.0.1
	Tags: spinkit-loading,loading
  Update: January 18th,2022
*/
/* Utility class for centering */

/**
  Name: loader
  Author: william
  Author URI: https://www.darkcrystal.com/
  Description: loader for websites
  Version: 1.0.1
	Tags: loader,loading
  Update: January 18th,2022
*/
/* @import '../normalize';
@import '../variables';
@import '../mixins';
@import '../functions'; */
/* Config for loading */
/**
 * global-mixin
*/
/**
* class width pacman mixins
*/
/**
* class width line-spin-fade-loader mixins
*/
/**
* class width line-scale mixins
*/
/**
* class width line-scale-party mixins
*/
/**
* class width ball-triangle-path mixins
*/
/**
* class width ball-spin-loader mixins
*/
/**
* class width ball-spin-fade-loader mixins
*/
/**
* class width ball-scale-ripple-multiple mixins
*/
/**
* class width ball-scale-multiple mixins
*/
/**
* class width ball-grid-beat and ball-grid-pulse mixins
*/
/**
* class width ball-pulse-sync mixins
*/
/**
* class width ball-pulse mixins
*/
@keyframes ball-beat {
  50% {
    opacity: 0.2;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes ball-grid-beat {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ball-grid-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes spin-rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-pacman-half-up {
  0% {
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@keyframes rotate-pacman-half-down {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes pacman-balls {
  75% {
    opacity: 0.7;
  }
  100% {
    transform: translate(-100px, -6.25px);
  }
}
@keyframes scale {
  30% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  45% {
    transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ball-pulse-rise-even {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: translateY(-30px);
  }
  50% {
    transform: scale(0.4);
  }
  75% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
    transform: scale(1);
  }
}
@keyframes ball-pulse-rise-odd {
  0% {
    transform: scale(0.4);
  }
  25% {
    transform: translateY(30px);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
    transform: scale(0.75);
  }
}
@keyframes ball-pulse-round {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes ball-pulse-sync {
  33% {
    transform: translateY(10px);
  }
  66% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes ball-scale-multiple {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes ball-scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes ball-scale-ripple-multiple {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes ball-spin-loader {
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ball-triangle-path-1 {
  33% {
    transform: translate(25px, -50px);
  }
  66% {
    transform: translate(50px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes ball-triangle-path-2 {
  33% {
    transform: translate(25px, 50px);
  }
  66% {
    transform: translate(-25px, 50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes ball-triangle-path-3 {
  33% {
    transform: translate(-50px, 0px);
  }
  66% {
    transform: translate(-25px, -50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes ball-zig-deflect {
  17% {
    transform: translate(-15px, -30px);
  }
  34% {
    transform: translate(15px, -30px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  67% {
    transform: translate(15px, -30px);
  }
  84% {
    transform: translate(-15px, -30px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes ball-zag-deflect {
  17% {
    transform: translate(15px, 30px);
  }
  34% {
    transform: translate(-15px, 30px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  67% {
    transform: translate(-15px, 30px);
  }
  84% {
    transform: translate(15px, 30px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes ball-zig {
  33% {
    transform: translate(-15px, -30px);
  }
  66% {
    transform: translate(15px, -30px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes ball-zag {
  33% {
    transform: translate(15px, 30px);
  }
  66% {
    transform: translate(-15px, 30px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes cube-transition {
  25% {
    transform: translateX(50px) scale(0.5) rotate(-90deg);
  }
  50% {
    transform: translate(50px, 50px) rotate(-180deg);
  }
  75% {
    transform: translateY(50px) scale(0.5) rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes line-scale-pulse-out-rapid {
  0% {
    transform: scaley(1);
  }
  80% {
    transform: scaley(0.3);
  }
  90% {
    transform: scaley(1);
  }
}
@keyframes line-scale-pulse-out {
  0% {
    transform: scaley(1);
  }
  50% {
    transform: scaley(0.4);
  }
  100% {
    transform: scaley(1);
  }
}
@keyframes line-scale-party {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes line-spin-fade-loader {
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes square-spin {
  25% {
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
    transform: perspective(100px) rotateX(0) rotateY(0);
  }
}
@keyframes point-chase {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes point-chase-child {
  80%, 100% {
    transform: rotate(360deg);
  }
}
@keyframes point-chase-child-before {
  50% {
    transform: scale(0.4);
  }
  100%, 0% {
    transform: scale(1);
  }
}
@keyframes ball-bounce {
  0%, 100% {
    transform: scale(0);
  }
  45%, 55% {
    transform: scale(1);
  }
}
@keyframes ball-swing-child {
  0%, 100% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes grid-cube {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}
@keyframes wander-cube {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: translateX(30px) rotate(-90deg) scale(0.6);
  }
  50% {
    /* Make FF rotate in the right direction */
    transform: translateX(30px) translateY(30px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(30px) translateY(30px) rotate(-180deg);
  }
  75% {
    transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.6);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes fold-cube {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes circle-fade {
  0%, 39%, 100% {
    opacity: 0;
    transform: scale(0.6);
  }
  40% {
    opacity: 1;
    transform: scale(1);
  }
}
.ball-pulse > div:nth-child(1) {
  animation: scale-pulse 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.ball-pulse > div:nth-child(2) {
  animation: scale-pulse 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.ball-pulse > div:nth-child(3) {
  animation: scale-pulse 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.ball-pulse > div {
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
}

.ball-pulse-sync > div:nth-child(1) {
  animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out;
}
.ball-pulse-sync > div:nth-child(2) {
  animation: ball-pulse-sync 0.6s -0.07s infinite ease-in-out;
}
.ball-pulse-sync > div:nth-child(3) {
  animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
}
.ball-pulse-sync > div {
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
}

.ball-pulse-round > div {
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  display: inline-block;
  animation-fill-mode: both;
  animation: ball-pulse-round 1.2s infinite ease-in-out;
}

/*  Circle
      <div class="circle-dot">
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
      </div>
 */
.circle-dot {
  width: 40px;
  height: 40px;
  position: relative;
}
.circle-dot > div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.circle-dot > div:before {
  content: "";
  display: block;
  width: 15%;
  height: 15%;
  background-color: #000;
  border-radius: 100%;
  animation: ball-pulse-round 1.2s infinite ease-in-out both;
}
.circle-dot > div:nth-child(1) {
  transform: rotate(30deg);
}
.circle-dot > div:nth-child(1)::before {
  animation-delay: -1.1s;
}
.circle-dot > div:nth-child(2) {
  transform: rotate(60deg);
}
.circle-dot > div:nth-child(2)::before {
  animation-delay: -1s;
}
.circle-dot > div:nth-child(3) {
  transform: rotate(90deg);
}
.circle-dot > div:nth-child(3)::before {
  animation-delay: -0.9s;
}
.circle-dot > div:nth-child(4) {
  transform: rotate(120deg);
}
.circle-dot > div:nth-child(4)::before {
  animation-delay: -0.8s;
}
.circle-dot > div:nth-child(5) {
  transform: rotate(150deg);
}
.circle-dot > div:nth-child(5)::before {
  animation-delay: -0.7s;
}
.circle-dot > div:nth-child(6) {
  transform: rotate(180deg);
}
.circle-dot > div:nth-child(6)::before {
  animation-delay: -0.6s;
}
.circle-dot > div:nth-child(7) {
  transform: rotate(210deg);
}
.circle-dot > div:nth-child(7)::before {
  animation-delay: -0.5s;
}
.circle-dot > div:nth-child(8) {
  transform: rotate(240deg);
}
.circle-dot > div:nth-child(8)::before {
  animation-delay: -0.4s;
}
.circle-dot > div:nth-child(9) {
  transform: rotate(270deg);
}
.circle-dot > div:nth-child(9)::before {
  animation-delay: -0.3s;
}
.circle-dot > div:nth-child(10) {
  transform: rotate(300deg);
}
.circle-dot > div:nth-child(10)::before {
  animation-delay: -0.2s;
}
.circle-dot > div:nth-child(11) {
  transform: rotate(330deg);
}
.circle-dot > div:nth-child(11)::before {
  animation-delay: -0.1s;
}

.ball-pulse-rise > div {
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.15, 0.46, 0.9, 0.6);
  animation-iteration-count: infinite;
  animation-delay: 0;
}
.ball-pulse-rise > div:nth-child(2n) {
  animation-name: ball-pulse-rise-even;
}
.ball-pulse-rise > div:nth-child(2n-1) {
  animation-name: ball-pulse-rise-odd;
}

.ball-grid-beat {
  width: 57px;
}
.ball-grid-beat > div:nth-child(1) {
  animation-delay: 0.7s;
  animation-duration: 0.91s;
}
.ball-grid-beat > div:nth-child(2) {
  animation-delay: 0.73s;
  animation-duration: 0.93s;
}
.ball-grid-beat > div:nth-child(3) {
  animation-delay: 0.26s;
  animation-duration: 1.25s;
}
.ball-grid-beat > div:nth-child(4) {
  animation-delay: 0.32s;
  animation-duration: 0.83s;
}
.ball-grid-beat > div:nth-child(5) {
  animation-delay: -0.18s;
  animation-duration: 0.8s;
}
.ball-grid-beat > div:nth-child(6) {
  animation-delay: 0.22s;
  animation-duration: 1.42s;
}
.ball-grid-beat > div:nth-child(7) {
  animation-delay: 0.13s;
  animation-duration: 1.51s;
}
.ball-grid-beat > div:nth-child(8) {
  animation-delay: 0.49s;
  animation-duration: 0.94s;
}
.ball-grid-beat > div:nth-child(9) {
  animation-delay: 0.4s;
  animation-duration: 1.16s;
}
.ball-grid-beat > div {
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  float: left;
  animation-name: ball-grid-beat;
  animation-iteration-count: infinite;
  animation-delay: 0;
}

.ball-grid-pulse {
  width: 57px;
}
.ball-grid-pulse > div:nth-child(1) {
  animation-delay: 0.45s;
  animation-duration: 1.16s;
}
.ball-grid-pulse > div:nth-child(2) {
  animation-delay: 0s;
  animation-duration: 0.94s;
}
.ball-grid-pulse > div:nth-child(3) {
  animation-delay: 0.48s;
  animation-duration: 1.24s;
}
.ball-grid-pulse > div:nth-child(4) {
  animation-delay: 0.61s;
  animation-duration: 1.6s;
}
.ball-grid-pulse > div:nth-child(5) {
  animation-delay: 0.16s;
  animation-duration: 1.24s;
}
.ball-grid-pulse > div:nth-child(6) {
  animation-delay: 0.75s;
  animation-duration: 1.47s;
}
.ball-grid-pulse > div:nth-child(7) {
  animation-delay: 0.07s;
  animation-duration: 1.45s;
}
.ball-grid-pulse > div:nth-child(8) {
  animation-delay: 0.16s;
  animation-duration: 1.01s;
}
.ball-grid-pulse > div:nth-child(9) {
  animation-delay: 0.16s;
  animation-duration: 1.16s;
}
.ball-grid-pulse > div {
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  float: left;
  animation-name: ball-grid-pulse;
  animation-iteration-count: infinite;
  animation-delay: 0;
}

.ball-clip-rotate-pulse {
  position: relative;
  transform: translateY(-15px);
}
.ball-clip-rotate-pulse > div {
  animation-fill-mode: both;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
}
.ball-clip-rotate-pulse > div:first-child {
  background: #000;
  width: 16px;
  height: 16px;
  top: 7px;
  left: -7px;
  animation: scale 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}
.ball-clip-rotate-pulse > div:last-child {
  position: absolute;
  border: 2px solid #000;
  width: 30px;
  height: 30px;
  left: -16px;
  top: -2px;
  background: transparent;
  border: 2px solid;
  border-color: #000 transparent #000 transparent;
  animation: rotate 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  animation-duration: 1s;
}

.ball-clip-rotate-multiple {
  position: relative;
}
.ball-clip-rotate-multiple > div {
  animation-fill-mode: both;
  position: absolute;
  left: -20px;
  top: -20px;
  border: 2px solid #000;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: rotate 1s 0s ease-in-out infinite;
}
.ball-clip-rotate-multiple > div:last-child {
  display: inline-block;
  top: -10px;
  left: -10px;
  width: 15px;
  height: 15px;
  animation-duration: 0.5s;
  border-color: #000 transparent #000 transparent;
  animation-direction: reverse;
}

.ball-beat > div {
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  animation: ball-beat 0.7s 0s infinite linear;
}
.ball-beat > div:nth-child(2n-1) {
  animation-delay: -0.35s !important;
}

.ball-clip-rotate > div {
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  border: 2px solid #000;
  border-bottom-color: transparent;
  width: 26px;
  height: 26px;
  background: transparent !important;
  display: inline-block;
  animation: rotate 0.75s 0s linear infinite;
}

.ball-rotate {
  position: relative;
}
.ball-rotate > div {
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  position: relative;
}
.ball-rotate > div:first-child {
  animation: rotate 1s 0s cubic-bezier(0.7, -0.13, 0.22, 0.86) infinite;
}
.ball-rotate > div:before, .ball-rotate > div:after {
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  content: "";
  position: absolute;
  opacity: 0.8;
}
.ball-rotate > div:before {
  top: 0px;
  left: -28px;
}
.ball-rotate > div:after {
  top: 0px;
  left: 25px;
}

.ball-scale-multiple {
  position: relative;
  transform: translateY(-30px);
}
.ball-scale-multiple > div:nth-child(2) {
  animation-delay: -0.4s;
}
.ball-scale-multiple > div:nth-child(3) {
  animation-delay: -0.2s;
}
.ball-scale-multiple > div {
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  position: absolute;
  left: -30px;
  top: 0px;
  opacity: 0;
  margin: 0;
  width: 60px;
  height: 60px;
  animation: ball-scale-multiple 1s 0s linear infinite;
}

.ball-scale-ripple-multiple {
  position: relative;
  transform: translateY(-25px);
}
.ball-scale-ripple-multiple > div:nth-child(0) {
  animation-delay: -0.8s;
}
.ball-scale-ripple-multiple > div:nth-child(1) {
  animation-delay: -0.6s;
}
.ball-scale-ripple-multiple > div:nth-child(2) {
  animation-delay: -0.4s;
}
.ball-scale-ripple-multiple > div:nth-child(3) {
  animation-delay: -0.2s;
}
.ball-scale-ripple-multiple > div {
  animation-fill-mode: both;
  position: absolute;
  top: -2px;
  left: -26px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #000;
  animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}

.ball-scale-ripple > div {
  animation-fill-mode: both;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #000;
  animation: ball-scale-ripple-multiple 1s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}

.ball-scale-random {
  width: 37px;
  height: 40px;
}
.ball-scale-random > div {
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  animation: ball-scale 1s 0s ease-in-out infinite;
}
.ball-scale-random > div:nth-child(1) {
  margin-left: -7px;
  animation: ball-scale 1s 0.2s ease-in-out infinite;
}
.ball-scale-random > div:nth-child(3) {
  margin-left: -2px;
  margin-top: 9px;
  animation: ball-scale 1s 0.5s ease-in-out infinite;
}

.ball-scale > div {
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  width: 60px;
  height: 60px;
  animation: ball-scale 1s 0s ease-in-out infinite;
}

.ball-spin-fade-loader {
  position: relative;
  top: -10px;
  left: -10px;
}
.ball-spin-fade-loader > div:nth-child(1) {
  top: 25px;
  left: 0;
  animation: ball-spin-fade-loader 1s -0.96s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(2) {
  top: 17.0454545455px;
  left: 17.0454545455px;
  animation: ball-spin-fade-loader 1s -0.84s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(3) {
  top: 0;
  left: 25px;
  animation: ball-spin-fade-loader 1s -0.72s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(4) {
  top: -17.0454545455px;
  left: 17.0454545455px;
  animation: ball-spin-fade-loader 1s -0.6s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(5) {
  top: -25px;
  left: 0;
  animation: ball-spin-fade-loader 1s -0.48s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(6) {
  top: -17.0454545455px;
  left: -17.0454545455px;
  animation: ball-spin-fade-loader 1s -0.36s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(7) {
  top: 0;
  left: -25px;
  animation: ball-spin-fade-loader 1s -0.24s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(8) {
  top: 17.0454545455px;
  left: -17.0454545455px;
  animation: ball-spin-fade-loader 1s -0.12s infinite linear;
}
.ball-spin-fade-loader > div {
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  position: absolute;
}

.ball-spin-loader {
  position: relative;
}
.ball-spin-loader > div:nth-child(1) {
  top: 45px;
  left: 0;
  animation: ball-spin-loader 2s 0.9s infinite linear;
}
.ball-spin-loader > div:nth-child(2) {
  top: 30.6818181818px;
  left: 30.6818181818px;
  animation: ball-spin-loader 2s 1.8s infinite linear;
}
.ball-spin-loader > div:nth-child(3) {
  top: 0;
  left: 45px;
  animation: ball-spin-loader 2s 2.7s infinite linear;
}
.ball-spin-loader > div:nth-child(4) {
  top: -30.6818181818px;
  left: 30.6818181818px;
  animation: ball-spin-loader 2s 3.6s infinite linear;
}
.ball-spin-loader > div:nth-child(5) {
  top: -45px;
  left: 0;
  animation: ball-spin-loader 2s 4.5s infinite linear;
}
.ball-spin-loader > div:nth-child(6) {
  top: -30.6818181818px;
  left: -30.6818181818px;
  animation: ball-spin-loader 2s 5.4s infinite linear;
}
.ball-spin-loader > div:nth-child(7) {
  top: 0;
  left: -45px;
  animation: ball-spin-loader 2s 6.3s infinite linear;
}
.ball-spin-loader > div:nth-child(8) {
  top: 30.6818181818px;
  left: -30.6818181818px;
  animation: ball-spin-loader 2s 7.2s infinite linear;
}
.ball-spin-loader > div {
  animation-fill-mode: both;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #000;
}

.ball-triangle-path {
  position: relative;
  transform: translate(-29.9940011998px, -37.5093773443px);
}
.ball-triangle-path > div:nth-child(1) {
  animation-name: ball-triangle-path-1;
  animation-delay: 0;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.ball-triangle-path > div:nth-child(2) {
  animation-name: ball-triangle-path-2;
  animation-delay: 0;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.ball-triangle-path > div:nth-child(3) {
  animation-name: ball-triangle-path-3;
  animation-delay: 0;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.ball-triangle-path > div {
  animation-fill-mode: both;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #000;
}
.ball-triangle-path > div:nth-of-type(1) {
  top: 50px;
}
.ball-triangle-path > div:nth-of-type(2) {
  left: 25px;
}
.ball-triangle-path > div:nth-of-type(3) {
  top: 50px;
  left: 50px;
}

.ball-zig-zag-deflect {
  position: relative;
  transform: translate(-15px, -15px);
}
.ball-zig-zag-deflect > div {
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  position: absolute;
  margin-left: 15px;
  top: 4px;
  left: -7px;
}
.ball-zig-zag-deflect > div:first-child {
  animation: ball-zig-deflect 1.5s 0s infinite linear;
}
.ball-zig-zag-deflect > div:last-child {
  animation: ball-zag-deflect 1.5s 0s infinite linear;
}

.ball-zig-zag {
  position: relative;
  transform: translate(-15px, -15px);
}
.ball-zig-zag > div {
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  position: absolute;
  margin-left: 15px;
  top: 4px;
  left: -7px;
}
.ball-zig-zag > div:first-child {
  animation: ball-zig 0.7s 0s infinite linear;
}
.ball-zig-zag > div:last-child {
  animation: ball-zag 0.7s 0s infinite linear;
}

.cube-transition {
  position: relative;
  transform: translate(-25px, -25px);
}
.cube-transition > div {
  animation-fill-mode: both;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: #000;
  animation: cube-transition 1.6s 0s infinite ease-in-out;
}
.cube-transition > div:last-child {
  animation-delay: -0.8s;
}

.line-scale-pulse-out-rapid > div {
  background-color: #000;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  vertical-align: middle;
  animation: line-scale-pulse-out-rapid 0.9s -0.5s infinite cubic-bezier(0.11, 0.49, 0.38, 0.78);
}
.line-scale-pulse-out-rapid > div:nth-child(2), .line-scale-pulse-out-rapid > div:nth-child(4) {
  animation-delay: -0.25s !important;
}
.line-scale-pulse-out-rapid > div:nth-child(1), .line-scale-pulse-out-rapid > div:nth-child(5) {
  animation-delay: 0s !important;
}

.line-scale-pulse-out > div {
  background-color: #000;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
}
.line-scale-pulse-out > div:nth-child(2), .line-scale-pulse-out > div:nth-child(4) {
  animation-delay: -0.4s !important;
}
.line-scale-pulse-out > div:nth-child(1), .line-scale-pulse-out > div:nth-child(5) {
  animation-delay: -0.2s !important;
}

.line-scale-party > div:nth-child(1) {
  animation-delay: -0.05s;
  animation-duration: 0.45s;
}
.line-scale-party > div:nth-child(2) {
  animation-delay: 0.63s;
  animation-duration: 1.08s;
}
.line-scale-party > div:nth-child(3) {
  animation-delay: -0.03s;
  animation-duration: 0.95s;
}
.line-scale-party > div:nth-child(4) {
  animation-delay: 0.8s;
  animation-duration: 0.81s;
}
.line-scale-party > div {
  background-color: #000;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  animation-name: line-scale-party;
  animation-iteration-count: infinite;
  animation-delay: 0;
}

.line-scale > div:nth-child(1) {
  animation: line-scale-pulse-out 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(2) {
  animation: line-scale-pulse-out 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(3) {
  animation: line-scale-pulse-out 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(4) {
  animation: line-scale-pulse-out 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(5) {
  animation: line-scale-pulse-out 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div {
  background-color: #000;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
}

.line-spin-fade-loader {
  position: relative;
  top: -10px;
  left: -4px;
}
.line-spin-fade-loader > div:nth-child(1) {
  top: 20px;
  left: 0;
  animation: line-spin-fade-loader 1.2s -0.84s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(2) {
  top: 13.6363636364px;
  left: 13.6363636364px;
  transform: rotate(-45deg);
  animation: line-spin-fade-loader 1.2s -0.72s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(3) {
  top: 0;
  left: 20px;
  transform: rotate(90deg);
  animation: line-spin-fade-loader 1.2s -0.6s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(4) {
  top: -13.6363636364px;
  left: 13.6363636364px;
  transform: rotate(45deg);
  animation: line-spin-fade-loader 1.2s -0.48s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(5) {
  top: -20px;
  left: 0;
  animation: line-spin-fade-loader 1.2s -0.36s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(6) {
  top: -13.6363636364px;
  left: -13.6363636364px;
  transform: rotate(-45deg);
  animation: line-spin-fade-loader 1.2s -0.24s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(7) {
  top: 0;
  left: -20px;
  transform: rotate(90deg);
  animation: line-spin-fade-loader 1.2s -0.12s infinite ease-in-out;
}
.line-spin-fade-loader > div:nth-child(8) {
  top: 13.6363636364px;
  left: -13.6363636364px;
  transform: rotate(45deg);
  animation: line-spin-fade-loader 1.2s 0s infinite ease-in-out;
}
.line-spin-fade-loader > div {
  background-color: #000;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  animation-fill-mode: both;
  position: absolute;
  width: 5px;
  height: 15px;
}

.pacman {
  position: relative;
}
.pacman > div:nth-child(2) {
  animation: pacman-balls 1s -0.99s infinite linear;
}
.pacman > div:nth-child(3) {
  animation: pacman-balls 1s -0.66s infinite linear;
}
.pacman > div:nth-child(4) {
  animation: pacman-balls 1s -0.33s infinite linear;
}
.pacman > div:nth-child(5) {
  animation: pacman-balls 1s 0s infinite linear;
}
.pacman > div:first-of-type {
  width: 0px;
  height: 0px;
  border-right: 25px solid transparent;
  border-top: 25px solid #000;
  border-left: 25px solid #000;
  border-bottom: 25px solid #000;
  border-radius: 25px;
  animation: rotate-pacman-half-up 0.5s 0s infinite;
  position: relative;
  left: -30px;
}
.pacman > div:nth-child(2) {
  width: 0px;
  height: 0px;
  border-right: 25px solid transparent;
  border-top: 25px solid #000;
  border-left: 25px solid #000;
  border-bottom: 25px solid #000;
  border-radius: 25px;
  animation: rotate-pacman-half-down 0.5s 0s infinite;
  margin-top: -50px;
  position: relative;
  left: -30px;
}
.pacman > div:nth-child(3),
.pacman > div:nth-child(4),
.pacman > div:nth-child(5),
.pacman > div:nth-child(6) {
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  width: 10px;
  height: 10px;
  position: absolute;
  transform: translate(0, -6.25px);
  top: 25px;
  left: 70px;
}

.semi-circle-spin {
  position: relative;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.semi-circle-spin > div {
  position: absolute;
  border-width: 0px;
  border-radius: 100%;
  animation: spin-rotate 0.6s 0s infinite linear;
  background-image: linear-gradient(transparent 0%, transparent 70%, #000 30%, #000 100%);
  width: 100%;
  height: 100%;
}

.square-spin > div {
  animation-fill-mode: both;
  width: 50px;
  height: 50px;
  background: #000;
  animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}

.triangle-skew-spin > div {
  animation-fill-mode: both;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #000;
  animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}

/*  chase
      <div class="point-chase">
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
      </div>
 */
.point-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: point-chase 2.5s infinite linear both;
}
.point-chase > div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: point-chase-child 2s infinite ease-in-out both;
}
.point-chase > div::before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #000;
  border-radius: 100%;
  animation: point-chase-child-before 2s infinite ease-in-out both;
}
.point-chase > div:first-of-type {
  animation-delay: -1.1s;
}
.point-chase > div:first-of-type:before {
  animation-delay: -1.1s;
}
.point-chase > div:nth-child(2) {
  animation-delay: -1s;
}
.point-chase > div:nth-child(2):before {
  animation-delay: -1s;
}
.point-chase > div:nth-child(3) {
  animation-delay: -0.9s;
}
.point-chase > div:nth-child(3):before {
  animation-delay: -0.9s;
}
.point-chase > div:nth-child(4) {
  animation-delay: -0.8s;
}
.point-chase > div:nth-child(4):before {
  animation-delay: -0.8s;
}
.point-chase > div:nth-child(5) {
  animation-delay: -0.7s;
}
.point-chase > div:nth-child(5):before {
  animation-delay: -0.7s;
}
.point-chase > div:nth-child(6) {
  animation-delay: -0.6s;
}
.point-chase > div:nth-child(6):before {
  animation-delay: -0.6s;
}

/*  Bounce
      <div class="ball-bounce">
        <div class=""></div>
        <div class=""></div>
      </div>
  */
.ball-bounce {
  width: 40px;
  height: 40px;
  position: relative;
}
.ball-bounce > div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: ball-bounce 2s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.ball-bounce > div:last-child {
  animation-delay: -1s;
}

/*  Swing
      <div class="ball-swing">
        <div class=""></div>
        <div class=""></div>
      </div>
 */
.ball-swing {
  width: 40px;
  height: 40px;
  position: relative;
  animation: point-chase 1.8s infinite linear;
}
.ball-swing > div {
  width: 45%;
  height: 45%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #000;
  border-radius: 100%;
  animation: ball-swing-child 2s infinite ease-in-out;
}
.ball-swing > div:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

/*  Circle Fade
      <div class="circle-fade">
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
      </div>
 */
.circle-fade {
  width: 40px;
  height: 40px;
  position: relative;
}
.circle-fade > div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.circle-fade > div:before {
  content: "";
  display: block;
  width: 15%;
  height: 15%;
  background-color: #000;
  border-radius: 100%;
  animation: circle-fade 1.2s infinite ease-in-out both;
}
.circle-fade > div:nth-child(1) {
  transform: rotate(30deg);
}
.circle-fade > div:nth-child(1)::before {
  animation-delay: -1.1s;
}
.circle-fade > div:nth-child(2) {
  transform: rotate(60deg);
}
.circle-fade > div:nth-child(2)::before {
  animation-delay: -1s;
}
.circle-fade > div:nth-child(3) {
  transform: rotate(90deg);
}
.circle-fade > div:nth-child(3)::before {
  animation-delay: -0.9s;
}
.circle-fade > div:nth-child(4) {
  transform: rotate(120deg);
}
.circle-fade > div:nth-child(4)::before {
  animation-delay: -0.8s;
}
.circle-fade > div:nth-child(5) {
  transform: rotate(150deg);
}
.circle-fade > div:nth-child(5)::before {
  animation-delay: -0.7s;
}
.circle-fade > div:nth-child(6) {
  transform: rotate(180deg);
}
.circle-fade > div:nth-child(6)::before {
  animation-delay: -0.6s;
}
.circle-fade > div:nth-child(7) {
  transform: rotate(210deg);
}
.circle-fade > div:nth-child(7)::before {
  animation-delay: -0.5s;
}
.circle-fade > div:nth-child(8) {
  transform: rotate(240deg);
}
.circle-fade > div:nth-child(8)::before {
  animation-delay: -0.4s;
}
.circle-fade > div:nth-child(9) {
  transform: rotate(270deg);
}
.circle-fade > div:nth-child(9)::before {
  animation-delay: -0.3s;
}
.circle-fade > div:nth-child(10) {
  transform: rotate(300deg);
}
.circle-fade > div:nth-child(10)::before {
  animation-delay: -0.2s;
}
.circle-fade > div:nth-child(11) {
  transform: rotate(330deg);
}
.circle-fade > div:nth-child(11)::before {
  animation-delay: -0.1s;
}

/*  Grid
    <div class="grid-cube">
      <div class=""></div>
      <div class=""></div>
      <div class=""></div>
      <div class=""></div>
      <div class=""></div>
      <div class=""></div>
      <div class=""></div>
      <div class=""></div>
      <div class=""></div>
    </div>
 */
.grid-cube {
  width: 40px;
  height: 40px;
  /* Cube positions
   * 1 2 3
   * 4 5 6
   * 7 8 9
   */
}
.grid-cube > div {
  width: 33.33%;
  height: 33.33%;
  background-color: #000;
  float: left;
  animation: grid-cube 1.3s infinite ease-in-out;
}
.grid-cube > div:first-child {
  animation-delay: 0.2s;
}
.grid-cube > div:nth-child(2) {
  animation-delay: 0.3s;
}
.grid-cube > div:nth-child(3) {
  animation-delay: 0.4s;
}
.grid-cube > div:nth-child(4) {
  animation-delay: 0.1s;
}
.grid-cube > div:nth-child(5) {
  animation-delay: 0.2s;
}
.grid-cube > div:nth-child(6) {
  animation-delay: 0.3s;
}
.grid-cube > div:nth-child(7) {
  animation-delay: 0s;
}
.grid-cube > div:nth-child(8) {
  animation-delay: 0.1s;
}
.grid-cube > div:last-child {
  animation-delay: 0.2s;
}

/*  Fold
      <div class="fold-cube">
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
      </div>
 */
.fold-cube {
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotateZ(45deg);
}
.fold-cube > div {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}
.fold-cube > div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  animation: fold-cube 2.4s infinite linear both;
  transform-origin: 100% 100%;
}
.fold-cube > div:nth-child(2) {
  transform: scale(1.1) rotateZ(90deg);
}
.fold-cube > div:nth-child(2):before {
  animation-delay: 0.3s;
}
.fold-cube > div:nth-child(4) {
  transform: scale(1.1) rotateZ(180deg);
}
.fold-cube > div:nth-child(4):before {
  animation-delay: 0.6s;
}
.fold-cube > div:nth-child(3) {
  transform: scale(1.1) rotateZ(270deg);
}
.fold-cube > div:nth-child(3):before {
  animation-delay: 0.9s;
}

/*  Wander
      <div class="wander-cube">
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
      </div>
 */
.wander-cube {
  width: 40px;
  height: 40px;
  position: relative;
}
.wander-cube > div {
  background-color: #000;
  width: 20%;
  height: 20%;
  position: absolute;
  top: 0;
  left: 0;
  animation: wander-cube 2s ease-in-out -2s infinite both;
}
.wander-cube > div:nth-child(2) {
  animation-delay: -0.5s;
}
.wander-cube > div:nth-child(3) {
  animation-delay: -1s;
}