/**
  Name: global function
  Author: william
  Author URI: https://www.darkcrystal.com/
  Description: global functions for websites
  Version: 1.0.1
	Tags: functions
  Update: January 18th,2022
*/